<p id="notice"><%= notice %></p>

<p>
  <b>Emailaddress:</b>
  <%= @beta_sign_up.emailAddress %>
</p>


<%= link_to 'Edit', edit_beta_sign_up_path(@beta_sign_up) %> |
<%= link_to 'Back', beta_sign_ups_path %>
